html{
  height: 100%;
}

body {
    min-height:100%; 
    position:relative; 
    padding-bottom:60px;
}



.footer{
  width: 100%;
  padding-top: 15px;
  position: absolute; 
  left: 0 ; right: 0; bottom: 0; 
  height:60px;
  background-color: #eeeeee;
}